@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.main {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.container {
    margin: auto auto;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-size: 150px;
    font-weight: bolder;
}
.heading {
    font-weight: 700;
    font-size: 52px;
}
.btn {
    font-family: 'Oswald', sans-serif;
    padding: 4px 16px;
    margin: 15px;
    color: rgba(9,9,121,1);
    border-radius: 12px;
    border: 0;
    font-size: 15px;
}
.btn:hover {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 1px solid white;
    cursor: pointer;
}